version: 2
updates:
  - package-ecosystem: npm
    directories:
      - "/"
      - "/packages/ansible-language-server/"
    schedule:
      interval: weekly
    labels:
      - dependabot-deps-updates
      - skip-changelog
    versioning-strategy: increase
    open-pull-requests-limit: 2
    groups:
      dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "@types/vscode"
          - "vscode-extension-tester"
      extester:
        # Separated as it is likely to also require tuning our test code for passing
        patterns:
          - "vscode-extension-tester"
    ignore:
      # requires ESM https://github.com/ansible/vscode-ansible/issues/1225
      - dependency-name: chai
        versions: ["5.x"]
      # @types/vscode should be manually bumped when we also update
      # engines.vscode inside package.json
      - dependency-name: "@types/vscode"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 3
    labels:
      - "dependencies"
      - "skip-changelog"
