@import url(../baseStyles/baseFormStyle.css);

.container {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.element {
    margin-bottom: 14px;
}

h3 {
    border: none;
    font-size: 1.1em;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    color: var(--vscode-foreground);
    white-space: wrap;
}

.description-div {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 650px;
    text-align: left;
    margin: 0px 0px 40px;
}

vscode-textfield {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 100%;
}

vscode-textarea {
    margin-bottom: 6px;
}

vscode-form-group {
    width: 100%;
    margin: 0;
}

#vscode-logs-label {
    padding: 0;
    align-self: flex-start;
    margin-left: 5px;
}

.devfile-name-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#devfile-name {
    width:49%;
    display:inline-block;
}

.checkbox-div {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange child elements vertically */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.image-div {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange child elements vertically */
    margin-top: 12px;
    margin-bottom: 30px;
    width: 100%;
}

vscode-single-select {
    width: 500px;
}

.full-devfile-path {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange child elements vertically */
    color: var(--vscode-descriptionForeground);
}

.group-buttons {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange child elements vertically */
}

.p-collection-name {
    font-style: italic;
}

vscode-button {
    margin: 0px 3px;
}

vscode-checkbox i {
    color: var(--vscode-descriptionForeground);
    font-size: small;
}

.dropdown-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown-container label {
    display: block;
    color: var(--vscode-foreground);
    cursor: pointer;
    font-size: var(--vscode-font-size);
    line-height: normal;
    margin-bottom: 2px;
}

vscode-divider {
    margin-top: 12px;
    margin-bottom: 22px;
    width: 100%;
}
