@import url(../baseStyles/baseFormStyle.css);

.container {
    display: flex;
    flex-direction: column;
}

.element {
    margin-bottom: 14px;
}

vscode-text-field {
    margin-top: 6px;
    margin-bottom: 6px;
}

vscode-text-area {
    margin-top: 6px;
    margin-bottom: 6px;
}

.scm-org-project-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#scm-org-name, #scm-project-name {
    width:49%;
    display:inline-block;
}

.checkbox-div {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange child elements vertically */
    margin-top: 22px;
    margin-bottom: 10px;
    width: 100%;
}

.verbose-div {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange child elements vertically */
    margin-top: 12px;
    margin-bottom: 30px;
    width: 100%;
}

vscode-dropdown {
    width: 200px;
}

.full-collection-path {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange child elements vertically */
    color: var(--vscode-descriptionForeground);
}

.group-buttons {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange child elements vertically */
}

.p-collection-name {
    font-style: italic;
}

vscode-button {
    margin: 0px 3px;
}

vscode-checkbox i {
    color: var(--vscode-descriptionForeground);
    font-size: small;
}

#ade-docs-link {
    margin-left: 30px;
    font-style: italic;
}

.dropdown-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown-container label {
    display: block;
    color: var(--vscode-foreground);
    cursor: pointer;
    font-size: var(--vscode-font-size);
    line-height: normal;
    margin-bottom: 2px;
}

#log-to-file-options-div {
    display: none;
    flex-direction: column;
    border-style: dotted;
    border-color: var(--focus-border);;
    border-width: 0.5px;
    padding: 8px;
}

.log-level-div {
    margin: 4px 0px;
}
