body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* width: 600px; */
    /* width: 70%; */
    max-width: 600px;
    /* margin: auto; */
}

.container {
    display: flex;
    flex-direction: column;
}

.element {
    margin-bottom: 14px;
}

vscode-text-field {
    margin-top: 6px;
    margin-bottom: 6px;
}

vscode-text-area {
    margin-top: 6px;
    margin-bottom: 6px;
}

.checkbox-div {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange child elements vertically */
    margin-top: 22px;
    margin-bottom: 10px;
    width: 100%;
}

.verbose-div {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange child elements vertically */
    margin-top: 12px;
    margin-bottom: 30px;
}

.full-collection-name {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange child elements vertically */
    color: grey;
}

.group-buttons {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange child elements vertically */
}

.p-collection-name {
    font-style: italic;
}

vscode-button {
    margin: 0px 3px;
}

vscode-checkbox i {
    color: gray;
    font-size: small;
}

#ade-docs-link {
    margin-left: 30px;
    font-style: italic;
}

.dropdown-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown-container label {
    display: block;
    color: var(--vscode-foreground);
    cursor: pointer;
    font-size: var(--vscode-font-size);
    line-height: normal;
    margin-bottom: 2px;
}

#log-to-file-options-div {
    display: none;
    flex-direction: column;
    border-style: dotted;
    border-color: #444444;;
    padding: 8px;
}

.log-level-div {
    margin: 4px 0px;
}
