#!/bin/bash
# Helps direnv 2.32.1+ auto activate virtualenv but we do not require
# developers to use it.
# https://github.com/direnv/direnv/wiki/Python
export HOSTNAME="${HOSTNAME:-${HOST:-$(hostname)}}"
# 'vsa' is acronym for 'visual studio ansible'
# we use HOME location below to avoid polluting the project directory with,
# temporary data and to allow us to mount the codebase on multiple machines
# for build and testing purposes.
export VIRTUAL_ENV="${HOME}/.local/share/virtualenvs/vsa"

# Command such `yarn webpack-dev` might fail with
# Reached heap limit Allocation failed - JavaScript heap out of memory
# https://nodejs.org/api/cli.html#--max-old-space-sizesize-in-megabytes
# default 16 MiB for 64-bit systems and 8 MiB for 32-bit systems
export NODE_OPTIONS="--max-old-space-size=4096"

# Activate virtualenv (creates it if needed)
layout python3
source_up 2>/dev/null || true
