#!/bin/bash
# Helps direnv 2.32.1+ auto activate virtualenv but we do not require
# developers to use it.
# https://github.com/direnv/direnv/wiki/Python
export HOSTNAME="${HOSTNAME:-${HOST:-$(hostname)}}"
# 'vsa' is acronym for 'visual studio ansible'
# we use HOME location below to avoid polluting the project directory with,
# temporary data and to allow us to mount the codebase on multiple machines
# for build and testing purposes.
export VIRTUAL_ENV="${HOME}/.local/share/virtualenvs/vsa"

# determine which TEST_LIGHTSPEED_URL value to use, as on macos we need a
# different value than on linux due to how ipv4/ipv6 hostnames are resolved.

if [[ "$OSTYPE" == "darwin"* ]]; then
    TEST_LIGHTSPEED_URL='http://127.0.0.1:3000'
else
    TEST_LIGHTSPEED_URL='http://ip6-localhost:3000'
fi
export TEST_LIGHTSPEED_URL


# Activate virtualenv (creates it if needed)
layout python
source_up 2>/dev/null || true
