#!/bin/bash
# Helps direnv 2.32.1+ auto activate virtualenv but we do not require
# developers to use it.
# https://github.com/direnv/direnv/wiki/Python

# This VIRTUAL_ENV value is also configured inside .vscode/settings.json:
export HOSTNAME="${HOSTNAME:-localhost}"
export VIRTUAL_ENV="out/venvs/${HOSTNAME}"

# Activate virtualenv (creates it if needed)
layout python
source_up 2>/dev/null || true
