**/.ignore
node_modules
*.vsix
out
.pytest_cache
.python-version
test-resources
test-resources-oldest
.vscode-test
CHANGELOG.html
*.tgz
.task
.venv
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store
.direnv
coverage
.nyc_output
.idea
*.pyc

test/testFixtures/.vscode/
examples/.vscode/
.cache
site
test/testFixtures/diagnostics/yaml/invalid_yaml.yml
packages/ansible-language-server/test/fixtures/diagnostics/invalid_yaml.yml
!media/
docs/als/settings.md
