# WARNING: ideally this file should contain only out/ folder as all our build
# steps should never create or modify files outside that. That is also true
# about not not using or creating files from user home directory directly (~).
!media/
.DS_Store
# Build tool caches (node-gyp, prek, etc.) - tests use out/*/tmp/home/.cache/
.cache
.eslintcache
.idea
.nyc_output
.pytest_cache
.venv
*.pyc
*.pyo
.task
# VS Code test framework user data - created by @vscode/test-electron
.vscode-test
node_modules
out
site
dist
lib

# TODO: Seek to remove these from this file:
CHANGELOG.html
docs/als/settings.md
examples/.vscode/
test/testFixtures/.vscode/settings.json
xunit.xml
