---
ci:
  # format compatible with commitlint
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: monthly
  autofix_commit_msg: "chore: auto fixes from pre-commit.com hooks"
  skip:
    - codecov
    - codespell # missing uv
    - depcheck
    - eslint
    - md # missing uv
    - ruff # missing uv
    - toml # missing uv
    - yamllint # missing uv
exclude: >
  (?x)^(
    .*.svg
  )$
minimum_pre_commit_version: 4.0.0 # Related to https://github.com/ekalinin/nodeenv/issues/369
repos:
  - repo: https://github.com/ansible/actions
    rev: v0.3.1
    hooks:
      - id: toml
        name: toml format
        entry: uv run -q --group=lint tombi format --offline
      - id: toml
        alias: toml
        name: toml lint
        entry: uv run -q --group=lint tombi lint --offline
      - id: ruff
      - id: codespell
      - id: yamllint
      - id: md
  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.3.8"
    hooks:
      - id: biome-check
        name: biome
        alias: biome
        args: [--unsafe]
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.3.3
    hooks:
      - id: cspell
        entry: bash
        pass_filenames: false
        additional_dependencies:
          - cspell@^9.2.2
        args:
          [
            "-euo",
            "pipefail",
            "-c",
            "cspell-cli . --relative --no-progress --no-summary && cspell-cli . --disable-dictionary=words --no-exit-code --words-only --quiet --unique | LC_ALL=C sort > .config/dictionary.txt",
          ]
        name: cspell + remove unused and sort dictionary

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args:
          - --color=always
          - -e
          - SC1091
  - repo: local
    hooks:
      - id: depcheck
        name: depcheck
        entry: npx --yes yarn dlx depcheck
        language: system
        pass_filenames: false
        always_run: true
      - id: eslint
        name: eslint
        entry: npm
        language: system
        args:
          - exec
          - --
          - eslint
          - --no-warn-ignored
          - --color
          - --format=gha
          - --fix
          - --max-warnings=0
          - --cache
          - --cache-strategy=content
        pass_filenames: false
        always_run: true

      - id: git-dirty
        name: Check if git reports dirty
        entry: git diff --exit-code
        language: system
        pass_filenames: false
        always_run: true
      - id: codecov
        name: Check codecov.yml
        # https://superuser.com/a/1587813/3004
        entry: >
          bash -c '[ $(
          curl --silent -o /dev/stderr -w "%{http_code}" -X POST
          --data-binary @codecov.yml https://codecov.io/validate
          ) -eq 200 ]'
        language: system
        files: "codecov.yml"
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            docs/als/settings.md
          )$
      - id: trailing-whitespace
        exclude: >
          (?x)^(
            .yarn/.*|
            examples/playbooks/(with-skip-tag-id|unicode).yml|
            examples/playbooks/example.yml|
            docs/als/settings.md
          )$
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
        # does not support JSON with comments
        exclude: >
          (?x)^(
            .vscode/settings.json|
            jinja-language-configuration.json|
            ansible-language-configuration.json|
            packages/ansible-language-server/.vscode/.*|
            packages/ansible-language-server/tsconfig.json|
            test/unit/lightspeed/utils/samples/collections/ansible_collections/community/broken_MANIFEST/MANIFEST.json
          )$
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
