---
ci:
  # format compatible with commitlint
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: monthly
  autofix_commit_msg: "chore: auto fixes from pre-commit.com hooks"
  skip:
    - biome
    - codecov
    - codespell # missing uv
    - cspell
    - eslint
    - knip
    - md # missing uv
    - mypy # missing uv
    - renovate-config-validator # network
    - ruff # missing uv
    - shellcheck # missing uv
    - toml # missing uv
    - yamllint # missing uv
exclude: >
  (?x)^(
    .*.svg
  )$
minimum_pre_commit_version: 4.0.0 # Related to https://github.com/ekalinin/nodeenv/issues/369
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/ansible/actions
    rev: v0.5.1
    hooks:
      - id: toml
      - id: mypy
      - id: ruff
      - id: codespell
      - id: cspell
      - id: yamllint
      - id: md
      - id: codecov
      - id: shellcheck
      - id: renovate-config-validator
  - repo: local
    hooks:
      - id: biome
        name: biome
        alias: biome
        language: system
        pass_filenames: false
        always_run: true
        entry: npx biome check --write --unsafe
      - id: knip
        name: knip (typescript declutter)
        entry: npx knip --fix
        language: system
        pass_filenames: false
        always_run: true
      - id: eslint
        name: eslint
        entry: npx
        language: system
        args:
          - eslint
          - --no-warn-ignored
          - --color
          - --format=gha
          - --fix
          - --max-warnings=0
          - --cache
          - --cache-strategy=content
        pass_filenames: false
        always_run: true
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            docs/als/settings.md
          )$
      - id: trailing-whitespace
        exclude: >
          (?x)^(
            .yarn/.*|
            examples/playbooks/(with-skip-tag-id|unicode).yml|
            examples/playbooks/example.yml|
            docs/als/settings.md
          )$
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
