---
ci:
  # format compatible with commitlint
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: monthly
  autofix_commit_msg: |
    chore: auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  skip:
    #- yarn-audit
    #- yarn-audit-fix
    - yarn-dedupe
    - codecov
    - depcheck
    - eslint
exclude: >
  (?x)^(
    .config/requirements.in|
    .*.svg
  )$
minimum_pre_commit_version: 2.9.0 # types_or
repos:
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.13.3
    hooks:
      - id: cspell
        # name: Spell check with cspell
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        pass_filenames: false # we want to use its own config
        additional_dependencies:
          - tomli
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args:
          - --color=always
          - -e
          - SC1091
  - repo: local
    hooks:
      - id: depcheck
        name: depcheck
        entry: yarn dlx depcheck
        language: system
        pass_filenames: false
        always_run: true
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        verbose: true # do not remove, as this allows warnings to be displayed on GHA
        args:
          # default format is not vscode friendly
          - --no-warn-ignored
          - --color
          - --format=gha
          - --format=unix
          - --fix
          # - --max-warnings
          # - "0"
        files: \.m?[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]

      - id: git-dirty
        name: Check if git reports dirty
        entry: git diff --exit-code
        language: system
        pass_filenames: false
        always_run: true
      # - id: yarn-audit-fix
      #   name: yarn-audit-fix
      #   language: system
      #   pass_filenames: false
      #   files: \.tool-versions|package\.json|yarn(-.*\.cjs|\.lock)
      #   entry: npx yarn run yarn-audit-fix
      - id: codecov
        name: Check codecov.yml
        # https://superuser.com/a/1587813/3004
        entry: >
          bash -c '[ $(
          curl --silent -o /dev/stderr -w "%{http_code}" -X POST
          --data-binary @codecov.yml https://codecov.io/validate
          ) -eq 200 ]'
        language: system
        files: "codecov.yml"
        pass_filenames: false
  - repo: https://github.com/ScribeMD/pre-commit-hooks
    rev: 0.16.3
    hooks:
      - id: yarn-dedupe
        entry: npx yarn dedupe
      # - id: yarn-audit
      #   entry: npx yarn npm audit

  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            docs/als/settings.md
          )$
      - id: trailing-whitespace
        exclude: >
          (?x)^(
            .yarn/.*|
            examples/playbooks/(with-skip-tag-id|unicode).yml|
            examples/playbooks/example.yml|
            docs/als/settings.md
          )$
      - id: mixed-line-ending
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
        # does not support JSON with comments
        exclude: >
          (?x)^(
            .vscode/settings.json|
            jinja-language-configuration.json|
            ansible-language-configuration.json|
            packages/ansible-language-server/.vscode/.*|
            packages/ansible-language-server/scripts/tsconfig.json|
            packages/ansible-language-server/scripts/tsconfig.esm.json|
            packages/ansible-language-server/scripts/tsconfig.umd.json|
            packages/ansible-language-server/tsconfig.json
          )$
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        types: [file, yaml]
        entry: yamllint --strict
        exclude: >
          (?x)^(
            test/testFixtures/diagnostics/yaml/invalid_yaml.yml|
            packages/ansible-language-server/test/testFixtures/diagnostics/yaml/invalid_yaml.yml|
            packages/ansible-language-server/test/fixtures/diagnostics/invalid_yaml.yml
          )$
  - repo: https://github.com/pycontribs/mirrors-prettier
    # keep it before markdownlint and eslint
    rev: "v3.3.3"
    hooks:
      - id: prettier
        types_or: ["markdown", "json", "ts"]
        exclude: >
          (?x)^(
            jinja-language-configuration.json|
            syntaxes/external/jinja.tmLanguage.json|
            docs/als/settings.md
          )$
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        exclude: >
          (?x)^
            docs/als/settings.md|
            docs/development/additional_resources.md|
            docs/development/debug_extension.md|
            docs/development/extension_code_structure.md|
            docs/development/main.md|
            docs/development/project_structure.md|
            docs/development/server_code_structure.md|
            docs/development/test_code.md|
            docs/development/webview_guide.md
          $
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.17.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
