# Everything is excluded unless we add it manually, preventing accidental
# inclusion of unwanted files.
# See https://github.com/Microsoft/vscode-mono-debug/blob/main/.vscodeignore
*
*/**
**/.DS_Store
!ansible-language-configuration.json
!CHANGELOG.md
!LICENSE
!README.md
!images/ansible.svg
!images/logo.png
!jinja-language-configuration.json
!media/style.css
!out/client/src/extension.js
!out/client/webview.js
!out/server/src/server.js
!package.json
!package.nls.json
!syntaxes/**/*
