**/.ignore
.*
.*/**
CHANGELOG.md
Jenkinsfile
commitlint.config.js
doc
node_modules
src
syntaxes/README.md
tsconfig.json
webpack.config.js

images/**
!images/logo.png
out/**
!out/client/extension.js
server/**
!out/server/src/server.js
