# cspell: ignore pymdownx pymdown magiclink autorefs facelessuser superfences inlinehilite linenums fontawesome autohide
site_name: Ansible VS Code Extension
site_url: https://ansible.readthedocs.io/projects/vscode-ansible/
repo_url: https://github.com/ansible/vscode-ansible
edit_uri: blob/main/docs/
strict: true
site_dir: out/html

theme:
  name: ansible
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.path
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.integrate

nav:
  - Extension: README.md
  - Ansible Language Server:
      - index: als/README.md
      - Settings: als/settings.md
      - Changelog: als/changelog.md
  - Configuration: configuration.md
  - LLM Providers: llm-providers.md
  - Developer Guide:
      - development/index.md
      - development/contributing.md
      - development/project_structure.md
      - development/extension_code_structure.md
      - development/server_code_structure.md
      - development/test_code.md
      - development/debug_extension.md
      - development/webview_guide.md
      - development/additional_resources.md
      - development/vite.md
  - FAQ:
      - faq/integrate-ansible-lint-with-language-server-venv.md
      - usage-data.md
  - Contact: contact.md
plugins:
  # Do not enable 'material/social' as it causes multiple issues over time
  # See: https://github.com/squidfunk/mkdocs-material/issues/8215
  - autorefs
  - macros:
      modules: [mkdocs-ansible:mkdocs_ansible]
      render_by_default: false
  - markdown-exec
  - search
  - material/tags
  - git-revision-date-localized:

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shorthand: true
      social_url_shortener: true
      user: ansible
      repo: vscode-ansible
      normalize_issue_symbols: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      # reduced to keep TOC nice under Changelog page
      toc_depth: 2
      permalink: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
validation:
  nav:
    omitted_files: warn
    absolute_links: warn
