fauxfactory
junit-xml
junit2html
junitparser<2
markdown
pip
pycodestyle
pytest
pytest-ordering
pytest-xdist
python-dateutil
requests
pre-commit
pylint
openapi-python-client
ansible-lint
dynaconf
openpyxl
argparse
pandas
tqdm
deepdiff
numpy
absl-py
selenium
openapi-python-client==0.15.2
yq
