{
    scopeName = 'test.injection';
    injectionSelector = 'L:entity.name.tag.yaml';
    name = 'TextMate Grammar Property List';
    patterns = (
        { include = '#test'; }
    );
    repository = {
        test = {
            name = 'keyword.todo';
            match = 'name';
        };
    };
}