/* .component-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

#data-grid-row,
#panels-row {
  display: grid;
  grid-template-columns: 1fr;
}

#feedback-form {
  margin: 1rem;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.component-container > * {
  margin: 0.25rem 0;
}

.component-example {
  margin-bottom: 10px;
  width: auto;
}

vscode-data-grid,
vscode-panels {
  border: 2px dashed #7b61ff;
  border-radius: 5px;
}

.sentiment-button {
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/* #issue-type-dropdown {
  min-width: 30px;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
} */

#source-dropdown {
  min-width: 30px;
  margin-top: 0.5rem;
}
