.playbookGenerationContainer {
	box-sizing: border-box;
	line-height: 22px;
	position: relative;
	overflow: hidden;
	height: inherit;
	width: 100%;
	user-select: initial;
	-webkit-user-select: initial;
	outline: none;
}

a .codicon {
	font-size: 20px;
}

.playbookGenerationContainer.loading {
	display: none;
}

.playbookGenerationContainer a {
	text-decoration: none;
}

.playbookGenerationContainer img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	pointer-events: none;
}

#system-readiness {
	display: flex;
	flex-direction: row;
	margin-top: 14px;
	background-color: var(--vscode-input-background);
}

.codicon.codicon-pass {
	margin: 10px;
	color: green;
}


#system-readiness-error {
	display: flex;
	flex-direction: row;
	margin-top: 14px;
	background-color: var(--vscode-input-background);
}

.codicon.codicon-error {
	margin: 10px;
	color: red;
}

.codicon.codicon-warning {
	margin: 10px;
	color: red;
}

.system-description {
	padding: 0px;
	margin: 6px;
}

#system-check {
	display: flex;
	align-items: start;
	flex-direction: column;
}

#install-status {
	padding: 0px 10px 0px 10px;
	width: fit-content;
	background-color: var(--vscode-input-background);
}

.found::before {
	color: darkgreen;
	content: "✓ ";
}

.not-found::before {
	color: red;
	content: "✗ ";
}

.not-found-optional::before {
	color: gold;
	content: "⚠ ";
}

.refresh-button-div {
	margin-top: 8px;
	width: 100%;
	display: flex;
}

/* .playbookGenerationContainer {
	font-size: 13px;
} */

/* .playbookGenerationContainer h1 {
	padding: 5px 0 0;
	margin: 0;
	border: none;
	font-weight: normal;
	font-size: 2.7em;
	white-space: nowrap;
} */

.playbookGenerationContainer .title {
	border: none;
	font-size: 2.7em;
	font-weight: 400;
	color: var(--vscode-foreground);
	white-space: nowrap;
	margin-bottom: 12px;
}

.playbookGenerationContainer .subtitle {
	color: var(--vscode-descriptionForeground);
	line-height: 1.4em;
	display: block;
	font-size: 2em;
	margin: 0px;
}

.monaco-workbench.hc-black .part.editor>.content .playbookGenerationContainer .subtitle,
.monaco-workbench.hc-light .part.editor>.content .playbookGenerationContainer .subtitle {
	font-weight: 200;
}

.playbookGenerationContainer h2 {
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.5em;
	line-height: initial;
}

.index-list {
	margin-bottom: 36px;
}

.catalogue {
	margin-bottom: 12px;
}

.catalogue h3 {
	margin: 0px;
	font-weight: normal;
}

.catalogue p {
	margin: 0px;
}

.playbookGenerationContainer a:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
	text-decoration: underline;
}

.playbookGenerationContainer .playbookGenerationSlide {
	width: 100%;
	height: 100%;
	padding: 0;
	position: absolute;
	box-sizing: border-box;
	left: 0;
	top: 0;
}

.playbookGenerationContainer .playbookGenerationSlideCategories {
	padding: 12px 24px;
}

.playbookGenerationContainer .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer>* {
	overflow: hidden;
	text-overflow: ellipsis;
}

.playbookGenerationContainer .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer>.categories-column>div {
	margin-bottom: 32px;
}

.playbookGenerationContainer .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer>.categories-column-left {
	grid-area: left-column;
	margin-top: 25px;
}

.playbookGenerationContainer .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer>.categories-column-right {
	grid-area: right-column;
	margin-top: 25px;
}

.playbookGenerationContainer .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer {
	display: grid;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	/* grid-template-rows: 30% minmax(min-content, auto) min-content; */
	margin-top: 50px;
	margin-bottom: 20px;
	grid-template-columns: 1fr 6fr 1fr 6fr 1fr;
	grid-template-areas:
		".  header header header ."
		". left-column . right-column ."
		". footer footer footer .";
}

.playbookGenerationContainer.width-constrained .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer {
	grid-template-rows: auto min-content minmax(min-content, auto) min-content;
	grid-template-columns: 1fr;
	grid-template-areas: "header" "left-column" "right-column" "footer";
}

.playbookGenerationContainer.height-constrained .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer {
	grid-template-rows: auto minmax(min-content, auto) min-content;
	grid-template-areas: "header" "left-column right-column" "footer footer";
}

.playbookGenerationContainer.height-constrained.width-constrained .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer {
	grid-template-rows: min-content minmax(min-content, auto) min-content;
	grid-template-columns: 1fr;
	grid-template-areas: "left-column" "right-column" "footer";
}

.playbookGenerationContainer.width-constrained .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer>.header,
.playbookGenerationContainer.height-constrained .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer>.header {
	display: none;
}

.playbookGenerationContainer .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer>.header {
	grid-area: header;
	align-self: end;
}

.playbookGenerationContainer .playbookGenerationSlideCategories .gap {
	flex: 150px 0 1000
}

.statusDisplay {
	border-color: var(--panel-view-border);
	border-width: thin;
	border-style: solid;
	border-radius: 4px;
}

.playbookGenerationContainer .playbookGenerationSlideCategories>.playbookGenerationCategoriesContainer > .header > .subtitle {
	font-size: 1em;
}

div.index-list.getting-started #system-check h2 {
	font-size: 1.5em;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 5px;
	margin-top: 0;
}

ul#walkthrough-list {
	list-style: none;
    padding: 3px 6px 6px;
    padding-left: 0;
	box-sizing: border-box;
    font-size: 13px;
    line-height: normal;
    margin: 8px 8px 8px 0;
    text-align: left;
    width: calc(100% - 16px);
}

ul#walkthrough-list button {
	/* border: 1px solid var(--vscode-contrastBorder); */
	background: var(--vscode-welcomePage-tileBackground);
	border: none;
    color: inherit;
    font-family: inherit;
    font-size: 13px;
    margin: 1px 0;
    padding: 16px;
    text-align: left;
}

ul#walkthrough-list button:hover {
    background: var(--vscode-welcomePage-tileHoverBackground);
    outline-color: var(--vscode-contrastActiveBorder, var(--vscode-focusBorder));
	cursor: pointer;
}

ul#walkthrough-list button:focus {
    outline: none;
}

ul#walkthrough-list > .walkthrough-item {
	border-radius: 6px;
    overflow: hidden;
    position: relative;

	box-sizing: border-box;
    font-size: 13px;
    line-height: normal;
    margin: 8px 8px 8px 0;
    padding: 3px 6px 6px;
    text-align: left;
    width: calc(100% - 16px);
}

ul#walkthrough-list > .walkthrough-item .featured-badge {
	left: -8px;
    position: relative;
    top: -4px;
}

ul#walkthrough-list > .walkthrough-item .main-content {
	align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

ul#walkthrough-list > .walkthrough-item img.category-icon {
    max-height: 20px;
    max-width: 20px;
    padding-right: 8px;
    position: relative;
    top: auto;
}

ul#walkthrough-list > .walkthrough-item .icon-widget {
    color: var(--vscode-textLink-foreground);
	font-size: 20px;
    padding-right: 8px;
    position: relative;
    top: 3px;
}

ul#walkthrough-list > .walkthrough-item .category-title {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul#walkthrough-list > .walkthrough-item .category-title.max-lines-3 {
    line-clamp: 3;
    display: box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

ul#walkthrough-list > .walkthrough-item .codicon.hide-category-button {
    margin-left: auto;
    right: 8px;
    top: 4px;
}

ul#walkthrough-list > .walkthrough-item .hide-category-button {
    border-radius: 5px;
    padding: 3px;
	visibility: hidden;
}

.codicon[class*=codicon-] {
    font-size: 16px;
}

ul#walkthrough-list > .walkthrough-item .description-content:not(:empty) {
    margin-bottom: 8px;
}

ul#walkthrough-list > .walkthrough-item .description-content {
    margin-left: 28px;
    text-align: left;
}

ul#walkthrough-list > .walkthrough-item .category-progress {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
