[env]
# Command such `yarn webpack-dev` might fail with
# Reached heap limit Allocation failed - JavaScript heap out of memory
# https://nodejs.org/api/cli.html#--max-old-space-sizesize-in-megabytes
# default 16 MiB for 64-bit systems and 8 MiB for 32-bit systems
NODE_OPTIONS = "--max-old-space-size=8192"
HOSTNAME="{{ exec(command='hostname') }}"

# 'vsa' is acronym for 'visual studio ansible'
# we use HOME location below to avoid polluting the project directory with,
# temporary data and to allow us to mount the codebase on multiple machines
# for build and testing purposes.
VIRTUAL_ENV="{{ xdg_cache_home }}/.local/share/virtualenvs/vsa"

# https://github.com/nodejs/corepack/issues/550
COREPACK_ENABLE_DOWNLOAD_PROMPT = 0

[settings]
# Needs to be enabled for hooks to work
experimental = true

[tools]
# do not add tools unsupported on windows such: gh, yarn
direnv = "latest"

[hooks]
# Do not use other hooks than preinstall or postinstall because they will
# not work without 'mise activate' command, something that we do not use on CI.

# Enabling corepack will install the `pnpm` package manager specified in package.json
preinstall = "bash -c 'echo 123'"
