[env]
# https://github.com/nodejs/corepack/issues/550
COREPACK_ENABLE_DOWNLOAD_PROMPT = 0
# hack installing mkdocs-ansible correctly on macOS
# https://github.com/squidfunk/mkdocs-material/issues/5121
DYLD_FALLBACK_LIBRARY_PATH = "{% if os() == 'macos' %}/opt/homebrew/lib{% endif %}"
# 'vsa' is acronym for 'visual studio ansible'
# we use HOME location below to avoid polluting the project directory with,
# temporary data and to allow us to mount the codebase on multiple machines
# for build and testing purposes.
VIRTUAL_ENV = "{{ xdg_cache_home }}/.local/share/virtualenvs/vsa"
# https://mise.jdx.dev/mise-cookbook/python.html
_.python.venv = { create = true, path = "~/.local/share/virtualenvs/vsa", python = "3.13", uv_create_args = [
  "--system-site-packages",
  "--seed",
] }  # pass args to uv venv
_.file = { path = ".env", tools = true }
_.path = ["./node_modules/.bin"]

# Do not use other hooks than preinstall or postinstall because they will
# not work without 'mise activate' command, something that we do not use on CI.
[hooks]

[settings]
# Needs to be enabled for hooks to work
experimental = true
idiomatic_version_file_enable_tools = ["python"]
lockfile = true

[tools]
gh = "latest"
# do not add tools unsupported on windows such: gh, yarn
node = "22.20.0"
python = "3.14"
task = "latest"  # >=3.45 but mise does not support minimal condition
uv = "latest"
yarn = "latest"
