cython>=3.0.5; python_version >= "3.12"
ansible-core>=2.13.0
ansible-lint>=6.8.7
ansible-navigator
mypy # used by vscode
pip>=22.3.1
pip-tools>=6.12.1
pre-commit>=2.20
# docs
argparse-manpage
cairosvg
markdown-include
mkdocs
mkdocs-ansible
mkdocs-autorefs
mkdocs-exclude
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-multirepo-plugin
mkdocstrings
mkdocstrings-python
pillow
pymdown-extensions
slugify
# for community-ansible-dev-tools image
ansible-pylibssh==1.1.0