# testing and linting
ansible-core>=2.13.0
ansible-lint>=6.8.1
# end-of dependencies for which we allow pre-releases
click
lxml
pip-tools
pre-commit
pyparsing
# vscode integration
flake8  # vscode integration
mypy  # vscode integration
pylint  # vscode integration
# docs
argparse-manpage
cairosvg
markdown-include
mkdocs
mkdocs-exclude
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-multirepo-plugin
mkdocstrings
mkdocstrings-python
pillow
pymdown-extensions
slugify
