.playbookGeneration {
  right: 0px;
  bottom: 0px;
}

.playbookGeneration>h2 {
  text-align: center
}

.playbookGeneration>h4 {
  text-align: center
}

.mainContainer {
  position: relative;
}

.editArea {
  position: relative;
  border-style: none;
}

.editArea>vscode-text-area {
  width: 100%;
  border-style: none;
}

.editArea>button {
  float: right;
}

.inputSection {
  margin-top: 2em;
}

.inputArea {
  margin-top: 1em;
  width: 100%
}

.inputArea>vscode-text-field {
  width: 100%
}

.bigIconButtonContainer {
  position: relative;
  margin: 0.5em;
  width: 100%;
  height: 48px;
  display: block;
}

.bigIconButton {
  width: 56px;
  height: 42px;
  position: absolute;
  right: 7px;
  display: flex;
}

.biggerButton {
  margin: 0.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}


/* override the default .codicon class */
.codicon[class*='codicon-'] {
  font: normal normal normal 16px/1 codicon;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
  font-size: 24px;
  width: calc(var(--design-unit) * 6px);
  height: calc(var(--design-unit) * 6px);
}

.spinnerContainer {
  background-color: var(--vscode-editor-background, #ffffff80);
  border-style: solid;
  border-radius: 12px;
  border-width: thin;
  border-color: var(--vscode-widget-border);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  padding: 12px;
  margin: auto;
  z-index: 100;
  opacity: 0.7;
}

.codicon-spinner {
  font: normal normal normal 16px/1 codicon;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
  font-size: 48px;
  width: calc(var(--design-unit) * 12px);
  height: calc(var(--design-unit) * 12px);
}

.resetFeedbackContainer {
  margin: 0.25em;
  position: relative;
  width: 100%;
  height: 36px;
  display: none;
}

.resetContainer {
  position: absolute;
  left: 0px;
  bottom: 5px;
  display: flow;
}

.stickyFeedbackContainer {
  position: sticky;
  bottom: 0px;
}

.feedbackContainer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
}

.generatePlaybookContainer {
  margin-top: 3em;
  display: none;
}

.examplesContainer {
  margin-top: 1em;
}

.exampleTextContainer {
  margin: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border-style: solid;
  border-width: thin;
  border-radius: 8px;
  width: fit-content;
  max-width: 90%;
}

.continueButtonContainer {
  margin-top: 1em;
  display: none;
}

.buttonBorder {
  border-style: solid;
  border-width: thin;
}

.textFieldFullWidth {
  width: 100%;
}

.firstMessage {
  display: block;
}

.secondMessage {
  display: none;
}

.iconButton {
  width: 36px;
  height: 36px;
  margin: 0.2em;
  background: var(--button-icon-background);
  border-radius: var(--button-icon-corner-radius);
  color: var(--foreground);
}

.iconButtonSelected {
  width: 36px;
  height: 36px;
  margin: 0.2em;
  background: var(--button-primary-background);
  color: var(--button-primary-foreground);
}
