{
    scopeName = 'injection.ansible.jinja-braces';
    injectionSelector = 'L:string -meta.embedded.inline.jinja';
    name = 'Grammar for Jinja2 expressions surrounded by double curly braces';
    patterns = (
        { include = '#jinja-expression'; },
        { include = '#jinja-statement'; },
        { include = '#jinja-comment'; }
    );
    repository = {
        jinja-expression = {
            begin = '\{\{-?';
            end = '-?\}\}';
            beginCaptures = {
                0 = {
                    name = 'punctuation.section.embedded.begin.jinja';
                };
            };
            endCaptures = {
                0 = {
                    name = 'punctuation.section.embedded.end.jinja';
                };
            };
            contentName = 'meta.embedded.inline.jinja';
            patterns = (
                { include = 'source.ansible-jinja#expression'; }
            );
        };
        jinja-statement = {
            begin = '\{%-?';
            end = '-?%\}';
            beginCaptures = {
                0 = {
                    name = 'punctuation.section.embedded.begin.jinja';
                };
            };
            endCaptures = {
                0 = {
                    name = 'punctuation.section.embedded.end.jinja';
                };
            };
            contentName = 'meta.embedded.inline.jinja';
            patterns = (
                { include = 'source.ansible-jinja#expression'; }
            );
        };
        jinja-comment = {
            begin = '\{#-?';
            end = '-?#\}';
            beginCaptures = {
                0 = {
                    name = 'punctuation.definition.comment.begin.jinja';
                };
            };
            endCaptures = {
                0 = {
                    name = 'punctuation.definition.comment.end.jinja';
                };
            };
            contentName = 'comment.block.jinja';
            patterns = (
                { include = 'source.ansible-jinja#comments'; }
            );
        };
    };
}
