# This is a basic workflow

name: ci

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Use Node
        uses: actions/setup-node@v2

      # Run install dependencies
      - name: Install dependencies
        run: |
          pipx install pre-commit
          npm config set fund false
          npm install

      - name: Run lint
        run: npm run-script lint

      # Build extension
      - name: Run build
        run: npm run compile

      # Run tests
      - name: Run Test
        uses: GabrielBB/xvfb-action@v1.0
        with:
          run: npm test
