# This is a basic workflow

name: ci

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    name: "${{ matrix.npm-target }} @${{ matrix.os }}"
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        npm-target:
        - test
        - ui-test
        os: [macos-latest, windows-latest, ubuntu-latest]
        include:
          - npm-target: lint
            os: ubuntu-latest
            upload-artifact: true

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Use Node
        uses: actions/setup-node@v2
        with:
          node-version: "16"

      # Run install dependencies
      - name: Install dependencies
        run: |
          pipx install pre-commit
          npm config set fund false
          npm ci

      # Build extension
      - name: Run build
        run: npm run compile

      # Run tests
      - name: Run ${{ matrix.npm-target }}
        uses: GabrielBB/xvfb-action@v1.0
        with:
          run: >-
            npm
            ${{ matrix.npm-target != 'test' && 'run' || '' }}
            ${{ matrix.npm-target }}

      - name: Run package
        run: npm run package

      - name: Publish vsix artifact
        if: ${{ github.event.number && matrix.upload-artifact }}
        uses: actions/upload-artifact@v2
        with:
          name: ansible-extension-from-pr-${{ github.event.number }}.vsix
          path: ansible-*.vsix
          retention-days: 15

      # extra safety measure that ensures code was not modified during build
      - name: Ensure git does not report dirty
        run: git diff --exit-code
