# This is a basic workflow

name: ci

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"  # make mocha output colorful

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    name: ${{ matrix.name }}
    # ${{ matrix.name && matrix.name || format('{0} ({1})', matrix.task-name, matrix.os) }}
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Avoid letting github do the matrix multiplication and use manual
        # includes for each job, this gives us fine control over job name.
        continue-on-error:
          - false
        os:
          - ubuntu-latest
        task-name:
          - test
        upload-artifact:
          - false
        name:
          - test
        include:
          - name: lint
            task-name: lint
            os: ubuntu-latest
            upload-artifact: true
            env:
              SKIP_PODMAN: 1
              SKIP_DOCKER: 1

          - name: devel
            # this job will install latest version of ansible-language-server
            # instead of the one mentioned in lock file
            task-name: devel
            os: ubuntu-latest

          - name: test (macos)
            task-name: test
            os:  macos-11
            env:
              SKIP_PODMAN: 1
              SKIP_DOCKER: 1
            # only until we fix some broken tests, as we need it to pass
            # in order to enable the caching
            continue-on-error: true

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout vscode-ansible
        uses: actions/checkout@v3

      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable caching
        uses: actions/cache@v3
        with:
          path: |
            .vscode-test
            .yarn/cache
            out/ext
            out/test-resources
            out/test-resources-oldest
            ~/.cache/pip
            ~/.cache/yarn
          key: ${{ runner.os }}-${{ matrix.task-name }}-${{ hashFiles('package.json', 'yarn.lock', '.config/requirements.txt') }}

      - name: Enable caching of podman machine on macos
        if: "contains(matrix.os, 'macos')"
        uses: actions/cache@v3
        with:
          path: |
              ~/.local/share/containers/podman/machine/qemu
          # we do not yet have a good way to determine when to reset podman machine cache
          key: ${{ runner.os }}-podman-${{ matrix.task-name }}-${{ hashFiles('package.json') }}

      - name: Use NodeJS v16
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: task setup
        run: task setup

      ## uncomment to debug on GHA runner
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      - name: task package
        run: task package --output=group --output-group-begin='::group::{{.TASK}}' --output-group-end='::endgroup::'

      - name: task ${{ matrix.task-name }}
        # xvfb needed for chrome headless tests
        uses: GabrielBB/xvfb-action@v1.6
        with:
          run: task ${{ matrix.task-name }} --output=group --output-group-begin='::group::{{.TASK}}' --output-group-end='::endgroup::'
        continue-on-error: ${{ matrix.continue-on-error }}

      - name: Upload vsix artifact
        if: ${{ github.event.number && matrix.upload-artifact }}
        uses: actions/upload-artifact@v3
        with:
          name: ansible-extension-from-pr-${{ github.event.number }}.vsix
          path: ansible-*.vsix
          retention-days: 15

      - name: Upload test logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: logs-${{ matrix.os }}-${{ matrix.task-name }}.zip
          path: |
            out/e2eTestReport
            out/log
            out/test-resources/settings/logs
            out/userdata/logs
          if-no-files-found: ignore
          retention-days: 15

      - name: Stop services
        if: "contains(matrix.os, 'macos')"
        # Stopping podman machine is needed or caching it will fail
        run: |
          set -x
          command -v podman
          podman machine list --format '{{.Running}}' --noheading
          podman machine stop
          pgrep qemu
          sleep 2
          sudo purge
          podman machine list --format '{{.Running}}' --noheading
          pgrep qemu
        continue-on-error: true

      ## commented out for future use to debug on the GHA node if required
      # - name: Setup tmate session
      #   if: ${{ always() }}
      #   uses: mxschmitt/action-tmate@v3

  check: # This job does nothing and is only used for the branch protection
    if: always()

    needs:
      - build

    runs-on: ubuntu-latest

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
