# See https://github.com/ansible/team-devtools/blob/main/.github/workflows/push.yml
name: push
on:
  push:
    branches:
      - main
      - "releases/**"
      - "stable/**"
permissions:
  checks: read
  contents: write
  issues: write
  pull-requests: read
jobs:
  push:
    uses: ansible/team-devtools/.github/workflows/push.yml@main
    secrets: inherit
