name: release

on:
  # push.tags is not triggered when creating a release using release page
  create:
    tags:
      - "v*"
  release:
    types:
      - published  # It seems that you can publish directly without creating

jobs:
 build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm install
      - name: Publish to VSCode Marketplace
        run: npx vsce publish -p $VSCE_TOKEN
        env:
          VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
      - name: Publish to Open VSX
        run: npx ovsx publish -p $OVSX_TOKEN
        env:
          OVSX_TOKEN: ${{ secrets.OVSX_TOKEN }}
